<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.nilhcem.hexawatch"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required to act as a custom watch face -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:theme="@style/AppTheme">

        <activity android:name=".ui.config.ConfigActivity">
            <intent-filter>
                <action android:name="com.nilhcem.hexawatch.CONFIG_WATCHFACE"/>

                <category android:name="com.google.android.wearable.watchface.category.COMPANION_CONFIGURATION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
